@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body, p {
    background-color: red;
    text-align: center;
    font-family: 'Chewy' , cursive;
}
.headings, .text {
    font-weight: 300;
    text-align: center;
    font-size: 30px;
}  
.text, p {
    font-size: 15px;
    color: rgb(252, 188, 137);
    text-shadow: 2px 2px 4px gray;
}
.headings {
    color: rgb(247, 169, 169);
    text-shadow: 2px 2px 4px gray;
}