@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body{
    background-color: lightcyan;
    text-align: center;
    font-family: 'Chewy' , cursive;
}
img {
    image-rendering: auto;
}    